
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */

.display-flex{
 display: flex;
}

.orange{
    color: rgba(254, 163, 1, 1);
}

.sky-blue{
    color: rgba(1, 172, 253, 1);
}

.btn-primary{
    background-color:black;
    padding:10px 47px;
    color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 12px;
    font-size: 17Px;
    font-weight: 400;
}

/* header styles */
/* header{
    margin: 0 auto;
    width: 1160px;
} */


/* navbar styles */

.navbar{
    margin: 0 auto;
    max-width: 1440px;
    justify-content: space-evenly;
    align-items: center;
}
.brand{
   font-size: 25px;
   font-weight: 800;
   color: black;
}

.nav-img>img{
    width: 60px;
    height: 60px;
}

.nav-img>{
    gap: 11px;
}

.nav-item{
   list-style: none;
   margin-right: 32px; 
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
    font-size:20px;
}

.light-blue{
    color: rgba(5, 212, 223, 1);
}

.dark-blue{
    color: rgba(93, 88, 239, 1);
}

.btn-secondary{
    width: 96px;
    height: 50px;
    padding: 10px;
    background-color: rgba(254, 163, 1, 1);
    border: none;
    color: rgba(255, 255, 255, 1);
    border-radius: 12px;
    font-weight: 600;
    font-size: 16px;
}


/* Banner styles */

.banner{
    margin: 0 auto;
    max-width:1160px ;
    /* gap: 50px; */
    align-items: center;
    justify-content: space-between;
}

.banner_content{
    max-width: 600px;
    max-height: 300px;
}

.banner> img{
   width:400px ;
   height: 450px;
}

.banner_title{
    font-style:80px;
    font-weight:900;
}

.banner-discri{
    font-size: 20px;
    font-weight: 400;
}

